header{
    background: #5c140f;
    color: #fff;
    text-align: center;
    padding: 25px;
}
#googleMap {
    min-height: 800px;
}
.map-container{
    padding: 0px;
}
.map-row{
    margin: 0px;
}
.map-row .col-sm-3{
    margin-top: 10px;
}
.map-row .signs{
    list-style: none;
    margin: 0;
    padding: 0;
}
.map-row .signs li{
    padding: 10px 10px;
    cursor: pointer;
}
.map-row .signs li:hover{
    background-color: #5c140f;
    color: #fff;
}